@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans KR";
  margin: 0;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./common//fonts/NotoSansKR-VariableFont_wght.ttf");
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NotoSerifKR";
  src: url("./common//fonts/NotoSerifKR-Bold.ttf");
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
